.container{
    height: 600px;
    margin: 100px auto;
    position: relative;
    background-color: beige;
}

.container h1{
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    top:50%;
    transform: translateY(-50%);
    font-size: 75px;
    text-shadow: 1px 1px;
}